<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
 * DBeaver - Universal Database Manager
 * Copyright (C) 2010-2021 DBeaver Corp and others
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
  -->

<plugin>
    <extension point="org.jkiss.dbeaver.dataSourceProvider">
        <datasource
            class="org.jkiss.dbeaver.ext.turbographpp.TurboGraphPPDataSourceProvider"
            description="TurboGraph JDBC Driver"
            icon="icons/turbograph_16.png"
            id="turbographpp"
            label="turbograph jdbc"
            dialect="turbographpp">
            <tree path="turbographpp" label="TurboGraph++ data source" supportsEntityMerge="true">
            	<folder id="schemas" type="org.jkiss.dbeaver.ext.turbographpp.model.CoradbUser" label="%tree.schemas.node.name"
                        icon="#folder_schema" description="%tree.schemas.node.tip">
                    <items label="%tree.user.node.name" path="coradbUser" property="coradbUsers" icon="#schema">
	                    <folder type="org.jkiss.dbeaver.ext.turbographpp.model.TurboGraphPPVertex" label="%tree.table.node.name" icon="#folder_table" description="%tree.tables.node.name">
		                  <items label="%tree.table.node.name" path="vertex" property="vertexs" icon="#table">
		                    <folder type="org.jkiss.dbeaver.ext.turbographpp.model.TurboGraphPPTVertexColumn" label="%tree.column.node.name" icon="#columns" description="%tree.columns.node.tip">
		                        <items label="%tree.column.node.name" path="nodeproperties" property="attributes" icon="#column">
		                        </items>
		                    </folder>
		                  </items>
	                    </folder>
	                    <folder type="org.jkiss.dbeaver.ext.turbographpp.model.TurboGraphPPEdge" label="%tree.table.edge.name" icon="#folder_view" description="%tree.table.edge.name">
	                      <items label="%tree.table.edge.name" path="edge" property="edges" icon="#view">
	                        <folder type="org.jkiss.dbeaver.ext.turbographpp.model.TurboGraphPPEdgeColumn" label="%tree.column.edge.name" icon="#columns" description="%tree.column.edge.tip">
	                          <items label="%tree.column.node.name" path="edgeproperties" property="attributes" icon="#column">
	                          </items>
	                        </folder>
	                      </items>
	                    </folder>
					</items>
				</folder>
            </tree>
            <drivers managable="true">
                    <driver
                        id="coradb_jdbc"
                        label="CORADB"
                        icon="icons/coradb_icon.png"
                        iconBig="icons/coradb_icon_big.png"
                        class="coradb.jdbc.driver.CORADBDriver"
                        sampleURL="jdbc:coradb:{host}:{port}:{database}:::"
                        defaultPort="30000"
                        description="CORADB JDBC driver"
                        supportedConfigurationTypes="MANUAL,URL"
                        webURL="https://www.cubrid.org/manual/en/11.2/api/jdbc.html#configuration-connection"
                        categories="sql">
                        <file type="jar" path="driver/coradb"/>
                        <parameter name="stored-unquoted-case" value="UPPER"/>
                    </driver>
            		<driver
                        id="vit_turbograph_jdbc"
                        label="TurboGraph++"
                        icon="icons/turbograph_16.png"
                        iconBig="icons/turbograph_64.png"
                        class="turbograph.jdbc.driver.TURBOGRAPHDriver"
                        sampleURL="jdbc:turbograph:{host}:{port}:{database}:::"
                        defaultPort="30000"
                        description="TURBOGRAPH JDBC driver"
                        supportedConfigurationTypes="MANUAL,URL"
                        webURL="https://github.com/postech-dblab-iitp/turbograph-jdbc"
                        promoted="1"
                        anonymous="true"
                        categories="graph">
                    <file 
                    	path="maven:/turbograph:turbograph-jdbc:RELEASE"
                    	type="jar">
                    </file>

					<parameter name="stored-unquoted-case" value="UPPER"/>
                    <property name="altHosts" value=""/>
                    <property name="rcTime" value="600"/>
                    <property name="loadBalance" value="false"/>
                    <property name="connectTimeout" value="30"/>
                    <property name="queryTimeout" value="0"/>
                    <property name="charset" value="utf-8"/>
                    <property name="zeroDateTimeBehavior" value="exception"/>
                    <property name="logFile" value="cubrid_jdbc.log"/>
                    <property name="logOnException" value="false"/>
                    <property name="logSlowQueries" value="false"/>
                    <property name="slowQueryThresholdMillis" value="60000"/>
                    <property name="useLazyConnection" value="false"/>
                    <property name="useSSL" value="false"/>
                    <property name="clientCacheSize" value="1"/>
                    <property name="usePreparedStmtCache" value="false"/>
                    <property name="preparedStmtCacheSize" value="25"/>
                    <property name="preparedStmtCacheSqlLimit" value="256"/>
                    <property name="hold_cursor" value="true"/>
                </driver>
                <driver
                    categories="graph"
                    class="org.neo4j.jdbc.Driver"
                    defaultPort="7687"
                    defaultDatabase="neo4j"
                    defaultUser="neo4j"
                    description="Neo4j JDBC driver"
                    icon="icons/neo4j_icon.png"
                    iconBig="icons/neo4j_icon_big.png"
                    id="vit_neo4j_jdbc"
                    label="Neo4j Graph"
                    promoted="1"
                    sampleURL="jdbc:neo4j:bolt://{host}[:{port}]/?database={database}"
                    webURL="https://github.com/neo4j-contrib/neo4j-jdbc">
                    <file
                        path="maven:/org.neo4j:neo4j-jdbc-driver:RELEASE"
                        type="jar">
                    </file>
                    <parameter
                        name="supports-truncate"
                        value="false">
                    <parameter 
                        name="stored-unquoted-case" 
                        value="UPPER"/>
                    </parameter>
                    <property name="@dbeaver-default-sql.parameter.enabled" value="false"/>
                </driver>
            </drivers>
        </datasource>
    </extension>

    <extension point="org.jkiss.dbeaver.sqlDialect">
        <dialect id="turbographpp" parent="basic" class="org.jkiss.dbeaver.ext.turbographpp.model.TurboPPSQLDialect" label="TurboGraph++" description="TurboGraph++ dialect." icon="turbograph_16.png">
        </dialect>
    </extension>

	<extension point="org.jkiss.dbeaver.mavenRepository">
        <repository id="cubrid-turbograph-maven-repo" name="turbograph Repository" url="https://ftp.cubrid.org/iitp/maven">
            <scope group="turbograph"/>
        </repository>
    </extension>

    <extension point="org.jkiss.dbeaver.objectManager">
        <manager class="org.jkiss.dbeaver.ext.turbographpp.edit.TurboGraphPPVertexManager"         objectType="org.jkiss.dbeaver.ext.turbographpp.model.TurboGraphPPVertex"/>
        <manager class="org.jkiss.dbeaver.ext.turbographpp.edit.TurboGraphPPEdgeManager"          objectType="org.jkiss.dbeaver.ext.turbographpp.model.TurboGraphPPEdge"/>
        <manager class="org.jkiss.dbeaver.ext.turbographpp.edit.TurboGraphPPVertexColumnManager"   objectType="org.jkiss.dbeaver.ext.turbographpp.model.TurboGraphPPVertexColumn"/>
        <manager class="org.jkiss.dbeaver.ext.turbographpp.edit.TurboGraphPPEdgeManager"          objectType="org.jkiss.dbeaver.ext.turbographpp.model.Neo4jEdge"/>
        <manager class="org.jkiss.dbeaver.ext.turbographpp.edit.TurboGraphPPVertexColumnManager"   objectType="org.jkiss.dbeaver.ext.turbographpp.model.Neo4jProperty"/>
    </extension>
</plugin>
