<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>

<plugin>
    <extension point="org.jkiss.dbeaver.databaseEditor">
        <editor
            id="org.jkiss.dbeaver.ext.cubrid.ui.editors.CubridPrivilageEditor"
            class="org.jkiss.dbeaver.ext.cubrid.ui.editors.CubridPrivilageEditor"
            objectType="org.jkiss.dbeaver.ext.cubrid.model.CubridPrivilage"
            main="true"
            label="%editor.general.name"
            description="General user settings"
            icon="#user">
        </editor>
    </extension>
    
    <extension point="org.jkiss.dbeaver.databaseEditor">
        <configurator class="org.jkiss.dbeaver.ext.cubrid.ui.config.CubridProcedureConfigurator">
            <objectType name="org.jkiss.dbeaver.ext.cubrid.model.CubridProcedure"/>
        </configurator>
    </extension>
    
    <extension point="org.jkiss.dbeaver.objectManager">
        <manager class="org.jkiss.dbeaver.ext.cubrid.ui.config.CubridUserManager" objectType="org.jkiss.dbeaver.ext.cubrid.model.CubridPrivilage"/>
    </extension>

    <extension point="org.eclipse.core.runtime.preferences">
        <initializer class="org.jkiss.dbeaver.ext.cubrid.ui.CubridPreferencesInitializer"/>
    </extension>

    <extension point="org.eclipse.ui.preferencePages">
        <page category="org.jkiss.dbeaver.preferences.drivers" id="org.jkiss.dbeaver.preferences.cubrid.general" 
        class="org.jkiss.dbeaver.ext.cubrid.ui.views.PrefPageCubrid" name="CUBRID">
            <keywordReference id="org.jkiss.dbeaver.core.keyword.dbeaver"/>
        </page>
    </extension>

    <extension point="org.eclipse.ui.propertyPages">
        <page id="org.jkiss.dbeaver.preferences.cubrid.main" class="org.jkiss.dbeaver.ext.cubrid.ui.views.PrefPageCubrid" 
        name="%page.org.jkiss.dbeaver.preferences.cubrid.main.name">
            <enabledWhen>
                <adapt type="org.jkiss.dbeaver.model.DBPDataSourceContainer">
                    <test property="org.jkiss.dbeaver.core.datasourceContainer.driverId" value="cubrid_jdbc"/>
                </adapt>
            </enabledWhen>
        </page>
    </extension>

</plugin>
