<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>
<!--
 * DBeaver - Universal Database Manager
 * Copyright (C) 2010-2021 DBeaver Corp and others
 *
 * Licensed under the Apache License, Version 2.0 (the "License");
 * you may not use this file except in compliance with the License.
 * You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
  -->

<plugin>
   <extension
         point="org.jkiss.dbeaver.dataSourceView">
      <view
            class="org.jkiss.dbeaver.ext.generic.views.GenericConnectionPage"
            icon="icons/turbo_plus_plus_logo.png"
            dataSource="turbographpp"
            id="org.jkiss.dbeaver.ext.turbographpp.dataSourceWizardView"
            label="%turbograph.dialog.connection.header"
            targetID="org.jkiss.dbeaver.ext.ui.newConnectionWizard">
      </view>
      <view
            class="org.jkiss.dbeaver.ext.generic.views.GenericConnectionPage"
            icon="icons/turbo_plus_plus_logo.png"
            id="org.jkiss.dbeaver.ext.turbographpp.dataSourceEditorView"
            dataSource="turbographpp"
            label="%turbograph.dialog.connection.header"
            targetID="org.jkiss.dbeaver.ext.ui.editConnectionDialog">
      </view>
   </extension>
   
   <extension point="org.jkiss.dbeaver.resultset.presentation">
        <presentation
                id="visualview"
                label="%presentation.visual.label"
                description="%presentation.visual.description"
                icon="platform:/plugin/org.jkiss.dbeaver.ui/icons/picture.png"
                class="org.jkiss.dbeaver.ext.turbographpp.ui.views.VisualizationPresentation"
                type="columns"
                supportsRecordMode="false"
                supportsMiniMap="true"
                order="50">
            <objectType name="org.jkiss.dbeaver.model.exec.DBCResultSet" if="object.session.dataSource.container.driver.id == 'vit_neo4j_jdbc' || object.session.dataSource.container.driver.id == 'vit_turbograph_jdbc' || object.session.dataSource.container.driver.id == 'coradb_jdbc'"/>
        </presentation>
   </extension>
   
   <extension point="org.jkiss.dbeaver.sql.plan.view">
        <view 
        id="Text" priority="101" 
        label="%sql.plan.view.text.name" 
        icon="platform:/plugin/org.jkiss.dbeaver.ui/icons/sql/page_explain_plan.png" 
        description="%sql.plan.view.simple.tip" 
        class="org.jkiss.dbeaver.ext.turbographpp.ui.views.TurboGraphPPPlanViewProvider">
        </view>
    </extension>
   
</plugin>
