<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.2"?>

<plugin>
	<extension point="org.jkiss.dbeaver.dataSourceView">
		<view
            class="org.jkiss.dbeaver.ext.generic.views.GenericConnectionPage"
            icon="icons/coradb_icon_big.png"
            dataSource="coradb"
            id="org.jkiss.dbeaver.ext.coradb.dataSourceWizardView"
            label="%coradb.dialog.connection.header"
            targetID="org.jkiss.dbeaver.ext.ui.newConnectionWizard">
		</view>
		<view
			class="org.jkiss.dbeaver.ext.generic.views.GenericConnectionPage"
			icon="icons/coradb_icon_big.png"
			id="org.jkiss.dbeaver.ext.coradb.dataSourceEditorView"
			dataSource="turbographpp"
			label="%coradb.dialog.connection.header"
			targetID="org.jkiss.dbeaver.ext.ui.editConnectionDialog">
		</view>
	</extension>
   
	<extension point="org.jkiss.dbeaver.resultset.presentation">
        <presentation
			id="visualview"
			label="%presentation.visual.label"
			description="%presentation.visual.description"
			icon="icons/picture.svg"
			class="org.jkiss.dbeaver.ext.coradb.ui.views.VisualizationPresentation"
			type="columns"
			supportsRecordMode="false"
			order="50">
			<objectType name="org.jkiss.dbeaver.model.exec.DBCResultSet" if="object.session.dataSource.container.driver.id == 'vit_neo4j_jdbc' || object.session.dataSource.container.driver.id == 'vit_turbograph_jdbc' || object.session.dataSource.container.driver.id == 'coradb_jdbc'"/>
        </presentation>
	</extension>
   
    <extension point="org.jkiss.dbeaver.sql.plan.view">
		<view id="coradbfulltext"
			class="org.jkiss.dbeaver.ext.coradb.ui.views.CoraDbPlanViewProvider"
			priority="101"
			label="%sql.plan.view.text.name"
			icon="platform:/plugin/org.jkiss.dbeaver.ui/icons/sql/page_explain_plan.svg"
			description="%sql.plan.view.text.tip">
			<datasource id="coradb"/>
        </view>
    </extension>
   
</plugin>
